# object files
*.o
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
*.so
*.so.*
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
dpdk-2.0.0/x86_64-native-linuxapp-gcc
stack_and_service/stack_and_service
stack_and_service/service/stack_and_service
stack_and_service/service/test_client/test_client_tcp_with_select
stack_and_service/service/ipaugenblick_app_api/stack_and_service
stack_and_service/ipaugenblick_service_build.h
